.home {
    width: 100%;
    background-color: #004080;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home .home_container .menu_home p {
    color: #fff;
    font-size: larger;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home_two_logo {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.Logohome {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.home_two_logo .first_me {
    height: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home_menu_wrapper {
    margin-left: 20px;
}

.home_menu_wrapper h1 {
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menus_home {
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menus_home li {
    display: flex;
    justify-content: space-between;
    margin-right: 29px;
    font-size: larger;
}

.menus_home li,
a {
    text-decoration: none;
    list-style: none;

}

.icons_home {
    margin: 0;
    padding: 0;
    display: flex;
}

.icons_home img {
    width: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icons_home li {
    margin-right: 10px;
    margin-top: 10px
}

.icons_home li,
a {
    list-style: none;
    text-decoration: none;

}