.about {
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro_container {
    background-color: #004080;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 6rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.intro_container_details {
    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.background_cirle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3000px;
    height: 40rem;
}

.background_cirle img {
    width: 25rem;
    position: absolute;
    top: 41px;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.animated_cirle {
    background-color: #00C2FF;
    width: 34rem;
    height: 34rem;
    position: relative;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.home_text_container h3 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
}

.home_text_container h1 {
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.home_text_container h2 {
    font-weight: 700;
    font-size: 45px;
    color: #FF0000;
    margin-bottom: 2rem;
}

.home_text_container p {
    font-weight: 700;
    color: #fff;
    font-size: large;
    text-align: justify;
    text-indent: 3rem;
}